.input-items {
  display: grid;
  margin: 1em 0;
}

.input-items .item > * {
  font-size: 1em;
}

.title-item {
  line-height: 2;
}

.actions {
  margin-top: 2em;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  justify-content: end;
}

.action-btn {
  text-transform: none !important;
}

textarea, input {
  width: 100%;
  resize: none;
  padding: 8px;
  border: 1px solid #737373;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.panel-head {
  border-bottom: 1px solid #DDD !important;
}

.panel-head-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  align-items: center;
}

.panel-body {
  padding: 24px !important;
}

.options-container {
  width: 100%;
}

.options {
  width: 100%;
}

.options thead {
  text-align: center;
}

.options .title {
  width: 100%;
}