.header-wrapper {
    grid-area: header;
}

.header {
    display: grid;
    grid-template-columns: 12.5em auto auto;
    align-items: center;
    height: 100%;
}

.logo-container {
    justify-self: center;
}

.logo-container .logo {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}

.quiz-create-btn {
    text-transform: none !important;
    margin: 0 2em !important;
}

.user-info-container {
    width: max-content;
    justify-self: right;
    padding-right: 3em;
}

.user-info-container > li {
    display: inline-block;
    padding: 0.5em 1em;
    height: 100%;
}

.user-profile {
    color: #fff;
    line-height: normal;
    text-align: right;
    display: grid;
    grid-template-areas:
        'user-name user-avatar'
        'user-email user-avatar';
    grid-column-gap: 1em;
}

.avatar {
    grid-area: user-avatar;
    height: 2em !important;
    width: 2em !important;
    font-size: 1em !important;
}

.name {
    grid-area: user-name;
    font-size: 0.8em;
}

.email {
    grid-area: user-email;
    font-size: 0.7em;
    color: #757575;
}
